<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body class="container-fluid">

        {% block navbar %}
            {{ include('_fragments/navbar.html.twig') }}
        {% endblock %}

        <div id="content">

            {% for message in app.session.flashBag.get('error') %}
                <p>{{ message }}</p>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
