{% extends 'base.html.twig' %}

{% block title %}New Applicant{% endblock %}

{% block body %}
    <h1>Create new Applicant</h1>


    {{ include('applicant/_form.html.twig') }}

    <a href="{{ path('applicant_index') }}">back to list</a>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {
            $collectionHolder = $("#applicant_skills");
            $template = $collectionHolder.data("prototype");
            var index = $collectionHolder.children().length;

            $("#addSkill").click(function () {

                let newSkill = $($template.replace(/__name__/g, index++));
                let deleteButton = $('<button type="button" class="delete">Supprimer</button><hr>');
                newSkill.append(deleteButton);
                $collectionHolder.append(newSkill);
            });
            
            $collectionHolder.delegate('.delete', 'click', function () {
                $(this).parent().remove();
            });
        });



    </script>
{% endblock %}
